<div class='container'>
    <footer class='footer'>
        <small>
            Copyright &copy; Mitheysh Asokan
        </small>
        <nav>
            <ul>
                <li><%= link_to 'About', about_path%></li>
            </ul>
        </nav>
        </nav>
    </footer>
</div>